:root {
    --font-size: 0.9rem;
    --accent-color: lightblue;
    --heading: 2.6rem;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --button-padding: 0.5em 1em;
    --dark-accent: rgba(0, 0, 0, 0.8);
}
.master-container {
    max-width:1000px;
    width: 100%;
    margin: 0 auto;
    font-family: var(--font-family);
}

.table {
    display: grid;
    width: 100%;
}
.row {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 5fr 3fr 3fr 3fr 3fr;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}
.dark,
.light {

    font-size: var(--font-size);
    padding: 0.5rem;
    border: solid 0.25px rgba(0, 0, 0, 0.5);
    grid-row: 1/1;
    color: var(--dark-accent);
}

.dark {
    background-color: var(--accent-color);
}
.t-head {
    font-weight: 700;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:6rem 0 2rem 0;
}
.main-heading {
    font-size: var(--heading);
    font-weight: 700;
}
.home {
    text-decoration: none;
    color:white;
    padding: var(--button-padding);
    background-color:green ;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    transition: 0.2s linear;
}
.home:hover,
.home:focus {
    background-color:rgb(0, 168, 0) ;
    transform: scale(1.01);
}
.edit-bttn {
    padding: var(--button-padding);
    background-color: rgb(59, 177, 216);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-align: center;
    margin: 2% auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    transition: 0.2s linear;
}
.btttn {
    width: 100vw;
    display:grid;
    place-items: center ;
}
.edit-bttn:hover,
.edit-bttn:focus {
    background-color: rgb(0, 191, 255);
    transform: scale(1.01);
}
form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttons {
    max-width: 300px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 1; */
}
.button {
    margin: 0 auto;
    padding: 0.5em 1.6em;
    cursor: pointer;
    transition: background-color 0.3s linear;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    font-size: 1.2rem;
    color:white;
    outline: none;
    text-decoration: none;
    font-family:var(--font-family);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.466);
}
.delete {
    background-color:rgb(224, 49, 49) ;
}
.edit {
    background-color: rgb(49, 49, 204);

}
.delete:hover,
.delete:focus {
    background-color:rgb(224, 49, 49) ;
}
.edit:hover,
.edti:focus {
    background-color: rgb(0, 0, 119);
}