:root {
    --font-size: 1rem;
    --accent-color: lightblue;
    --accent-color-2: rgb(106, 106, 230);
    --heading: 3rem;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --button-padding: 0.5em 1em;
    --light-accent: rgba(0, 0, 0, 0.24);
    --dark-accent: rgba(0, 0, 0, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: var(--font-family);
}

.master-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 2% 1%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
    font-size: var(--heading);
    font-weight: 700;
    font-family: var(--font-family);
}

.table {
    display: grid;
    width: 100%;
    padding: 3rem 0;
}

.row {
    display: grid;
    grid-template-columns: 1fr 5fr 7fr 2fr 3fr;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

.dark,
.light {

    font-size: var(--font-size);
    padding: 0.5rem;
    border: solid 0.25px rgba(0, 0, 0, 0.5);
    grid-row: 1/1;
    color: var(--dark-accent);
}

.dark {
    background-color: var(--accent-color);
}

.t-head {
    font-weight: 700;
    color: black;
}

.fa {
    color: blue;
    margin-left: 10%;
}

icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.add-new-bttn {
    display: flex;
    flex-wrap: nowrap;
    padding: var(--button-padding);
    background-color: green;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding-left: 2em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    transition: 0.2s linear;

}

.add-new-bttn:hover,
.add-new-bttn:focus {
    background-color: rgb(2, 199, 2);

}

.bttn {
    color: white;
    transform: translate(4.1rem, 0.05rem);
}